
@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>
<table class="table" table-bordered">
    <tr>
        <td>Employee Id</td>
        <td>
            @ViewBag.Emp_Id
        </td>
    </tr>
    <tr>
        <td>Name</td>
        <td>
            @ViewBag.Name
        </td>
    </tr>
    <tr>
        <td>Salary</td>
        <td>
            @ViewBag.Salary
        </td>
    </tr>
    <tr>
        <td>Gender</td>
        <td>
            @ViewBag.Gender
        </td>
    </tr>
    </tr>
</table>
